
@{
    ViewBag.Title = "Rozliczenia Adversum";
    Layout = "~/Views/Shared/_LayoutAdversumSettlement.cshtml";
}



<div class="row">
    <div class="col-md-12 text-center">

        <p class="huge-text">
            Rozliczenia sieci
        </p>

    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">

        <p class="huge-text">
            Wybierz osobę z listy
        </p>

    </div>
</div>

